<!DOCTYPE html>
<html>
<%- include ../partials/default_header.ejs %>
<body>

<%- include ../partials/admin_navbar.ejs %>

<!-- Page Content -->
<div id="wrapper" class="container-fluid col-lg-10">

    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="content">
                        <h1><%= title %></h1>
                        <p>View <%= access.ORG_NAME %> administrators here.</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Admin for <%= access.ORG_NAME %></div>
                    <br>
                    <div class="content">
                        <ul class="list-group">
                            <% for(var i =0; i < Object.keys(adminList).length; i++){ %>
                            <li class="list-group-item">
                                <div class="col-lg-11 col-xs-10"><%= adminList[i]["NAME_FIRST"] + " " + adminList[i]["NAME_LAST"]%></div>
                                <div class="">
                                    <a href="/admin/<%= access.ORGANIZATIONID %>/remove/admin/<%= adminList[i]["USERID"]%>">remove</a></div></li>
                            <% } %>
                        </ul>
                        <br>
                        <!-- Open Invite code modal -->
                        <a href="#" class="generate_btn btn btn-primary-outline"><span
                                    class="fa fa-plus-square"></span> Generate Admin invite code
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Position Removal Modal -->
<div id="invite-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Generated invite link</h4>
            </div>
            <div class="modal-body">
                <p>Send the below link to a SIPS user to add them as an Administrator</p>
                <div class="well">
                <p id="code_field"></p>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<%- include ../partials/default_footer.ejs %>

<script>

    $(document).ready(function () {
        $(function () {
            $('#sideMenu').metisMenu();
        });

        //Checks hidden radio on the same row as the action button being clicked
        $('.generate_btn').click(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'GET',
                url: '/admin/<%= access.ORGANIZATIONID %>/generate/invite',
                success: function (data) {
                    //alert("Success! "  + JSON.stringify(data, null, 2));
                    $('#code_field').empty();
                    $('#invite-modal').modal('show');
                    $('#code_field').append("http://sipsapp.org/admin/<%= access.ORGANIZATIONID %>/invite/" + data)
                }
            })
            //$(this).find('td input[type=radio]').prop('checked', true);
        });
    });

</script>

</body>
</html>
