<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.4.0/metisMenu.min.css">

</head>
<body>

<!-- Navigation -->
<nav role="navigation col-lg-2">
    <div class="navbar-inverse navbar-default navbar-fixed-top topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#sideMenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">SIPS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div style="height: 0.8px;" aria-expanded="false" class="navbar-collapse collapse"
                 id="bs-example-navbar-collapse-2">


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/results">Results</a>
                    </li>
                    <% if(isAdmin == 1){ %>
                    <li>
                        <a href='/admin'>Admin</a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>

                </ul>
            </div>

        </div>

        <!-- /.navbar-collapse -->
    </div>
    <div class="col-md-2">

        <ul class="nav nav-pills nav-stacked panel panel-default navbar-collapse collapse" id="sideMenu">
            <li>
                <a href="/admin" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard Menu</a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="#">Organization</a>
            </li>
            <li class="hidden-lg hidden-md">
                <a href="#">Menu<span class="caret arrow"></span></a>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Groups<span class="caret arrow"></span></a>

                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">View Three</a></li>
                </ul>
            </li>
            <li><a href="/results">Results</a></li>
        </ul>

    </div>
    <!-- /.container -->
</nav>


<!-- Page Content -->
<div id="wrapper" class="container-fluid col-lg-10">

    <div class="row">
        <div class="container-fluid">


            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="content">
                        <h1>Admin Dashboard</h1>
                        <p><%= 'Welcome, ' + name %></p>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Groups for Organization</div>
                    <br>
                    <div class="content">
                        <table class="table table-responsive table-striped table-hover table-bordered table-radio">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>Group Name</th>
                                <th>Type</th>
                                <th>Group Members</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < groups.length; i++){ %>
                            <tr>
                                <td><input name="group" type="radio" value="<%= groups[i]["GROUPID"] %>"></td>
                                <td><%= groups[i]["NAME"] %></td>
                                <td><%= groups[i]["ORGANIZATIONID"] %></td>
                                <td>null</td>
                            </tr>

                            <% } %>
                            </tbody>
                        </table>
                        <br>
                        <!-- Table button -->
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">Actions <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/admin/create-group" id="add-new-group"><span
                                                class="fa fa-plus-square-o "></span> Add new Group</a></li>
                                <li><a href="#"><span class="fa fa-cog "></span> Group options</a></li>
                                <li><a href="/results"><span class="fa fa-pie-chart "></span> View Results</a></li>
                                <li class="divider"></li>
                                <li><a href="#" id="delete-group"><span class="fa fa-trash-o "></span> Delete Group</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Footer -->
<footer id="footer">
    <div class="col-lg-5">
        <ul class="list-inline">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="/results">Results</a>
            </li>
        </ul>
        <p class="copyright text-muted small">Copyright © SIPS 2016. All Rights Reserved</p>
    </div>
</footer>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- MetisMenu JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.4.0/metisMenu.min.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $('#sideMenu').metisMenu();
        });

        $('.table-radio tr').click(function() {
            $(this).find('td input[type=radio]').prop('checked', true);
        })

        $("#delete-group").click(function () {
            var selectedGroup = $('input[name=group]:checked').val()
            $.ajax({
                type: 'POST',
                url: '/admin/delete-group',
                data: {
                    group: selectedGroup
                },
                complete: function () {
                    window.location.reload(true);
                }
            });
        });
    });

</script>

</body>
</html>
