<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.metismenu/2.4.0/metisMenu.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap-overwrites.css'/>

</head>
<body>

<!-- Navigation -->
<nav role="navigation col-lg-2">
    <div class="navbar-inverse navbar-default navbar-fixed-top topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#sideMenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">SIPS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div style="height: 0.8px;" aria-expanded="false" class="navbar-collapse collapse"
                 id="bs-example-navbar-collapse-2">


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/results">Results</a>
                    </li>
                    <% if(isAdmin == 1){ %>
                    <li>
                        <a href='/admin'>Admin</a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>

                </ul>
            </div>

        </div>

        <!-- /.navbar-collapse -->
    </div>
    <div class="col-md-2">

        <ul class="metismenu nav nav-pills nav-stacked panel panel-default navbar-collapse collapse" id="sideMenu">
            <li>
                <a href="/admin" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard Menu</a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a href="#"><i class="fa fa-fort-awesome"></i>
                    Organization</a>
            </li>
            <li class="hidden-lg hidden-md">
                <a href="#">Menu<span class="caret arrow"></span></a>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-nav-item"><i class="fa fa-users"></i>
                        Groups</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">View Three</a></li>
                </ul>
            </li>
            <li><a href="/results"><i class="fa fa-bar-chart-o fa-fw"></i> Results</a></li>
        </ul>

    </div>
    <!-- /.container -->
</nav>


<!-- Page Content -->
<div id="wrapper" class="container-fluid col-lg-10">

    <div class="row">
        <div class="container-fluid">


            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="content">
                        <h1><%= title + ": " + groupName %></h1>
                        <p></p>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Group: <%= groupName %></div>
                    <br>
                    <div class="content">
                        <form role="form" action="update-group" method="post" id="<%= groupID %>">
                            <div class="form-group">
                                <label for="group_name col-lg-2">Name:</label>
                                <input type="text" class="form-control col-lg-7" id="group_name" name="group_name" value="<%= groupName %>">
                            </div>
                            <br>
                            <input type="submit" value="Create Group"class="btn btn-default">
                        </form>
                        <br>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Group Members</div>
                    <br>
                    <div class="content">
                        <table class="table table-striped table-hover table-radio">
                            <thead>
                            <tr class="active">
                                <th class="col-lg-1 hidden">Select</th>
                                <th class="col-lg-3">Name</th>
                                <th class="col-lg-3">Position</th>
                                <th class="col-lg-1">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="warning">
                                <td class="hidden"></td>
                                <td>Hello! Please add some users and they will be displayed here</td>
                                <td></td>
                                <td>
                                    <a href="#" class="add_user btn btn-sm invisible" ><span
                                                class="fa fa-plus-square"></span> Add members
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- popup dialog -->
<div id="add_user_box" title="Add members to group">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <p>
            Include email addresses to send invites to. Once submitted the default mail client on your device will open a new message with the message specified below.
        </p>
            <br/><br/>
        <form role="form">
            <div class="form-group">
                <label for="email_to" class="pull-left">TO:</label>
                <input type="text" class="form-control" id="email_to" name="email_to" placeholder="example@gmail.com; example2@gmail.com">
            </div>
            <div class="form-group">
                <label for="email_subject" class="pull-left">Subject:</label>
                <input type="text" class="form-control" id="email_subject" name="email_subject" value="SIPS Group Invitation">
            </div>
            <div class="form-group">
                <label for="email_body" >Message body:</label>
                <p class="well">Hello, this is an invitation to join <%= groupName %> on SIPS. Please enter this code after logging in with the Gmail account you want to use: <%= inviteCode %></p>
                <textarea type="text" class="form-control" id="email_body" name="email_body" rows="5"></textarea>
            </div>

        </form>
        <br/>
        </div>
</div>


<!-- Footer -->
<footer id="footer">
    <div class="col-lg-5">
        <ul class="list-inline">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="/results">Results</a>
            </li>
        </ul>
        <p class="copyright text-muted small">Copyright © SIPS 2016. All Rights Reserved</p>
    </div>
</footer>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- MetisMenu JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.4.0/metisMenu.min.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $('#sideMenu').metisMenu();
        });

        $("#add_user_box").dialog({
            autoOpen: false,
            modal: true,
            draggable: false,
            resizable: false,
            position: {my: "top", at: "bottom", of: '.navbar-fixed-top'},
            show: 'blind',
            hide: 'blind',
            width: 'auto',
            height: 'auto',
            dialogClass: 'ui-dialog',
            buttons: {
                "Open mail client": function() {
                    $(this).dialog("close");

                    var email = $('#email_to').val();
                    var subject = $('#email_subject').val();
                    var emailBody = 'Hello, this is an invitation to join <%= groupName %> on SIPS. Please enter this code after logging in with the Gmail account you want to use: <%= inviteCode %> . %0D%0A' + $('#email_body').val();
                    window.location = 'mailto:' + email + '?subject=' + subject + '&body=' +   emailBody;
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            }
        });

        $('.table-radio tr').hover(
                function () {
                    $(this).find('td .btn').removeClass("invisible");
                },
                function () {
                    $(this).find('td input[type=radio]').prop('checked', true);
                    $(this).find('td .btn').addClass("invisible");
                }
        );


        $(".add_user").click(function(){
            $('#add_user_box').dialog('open');
        })
    });


</script>

</body>
</html>
