<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<%- include ../partials/default_header.ejs %>
<body>

<%- include ../partials/admin_navbar.ejs %>

<!-- Page Content -->
<div id="wrapper" class="container-fluid col-lg-10">

    <div class="row">
        <div class="container-fluid">


            <div class="col-lg-12">

                <!-- Page header -->
                <div class="panel panel-default">
                    <div class="content">
                        <h1><%= groupName %></h1>
                        <p></p>
                    </div>
                </div>


                <div class="panel with-nav-tabs panel-default">
                    <!--Tab header-->
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabGroupInfo" data-toggle="tab">Group Info</a></li>
                            <% if(access.GROUP_SESSIONS){%>
                            <li><a href="#tabSessions" data-toggle="tab">Sessions</a></li> <% } %>
                            <% if(access.GROUP_MEMBERS){%>
                            <li><a href="#tabUsers" data-toggle="tab">Members</a></li> <% } %>
                            <% if(access.GROUP_POSITIONS){%>
                            <li><a href="#tabPositions" data-toggle="tab">Positions</a></li> <% } %>
                        </ul>
                    </div>
                    <br>
                    <div class="panel-body">
                        <div class="tab-content">

                            <!-- Group Info Tab -->
                            <div class="tab-pane fade in active" id="tabGroupInfo">
                                <form role="form" action="/group/<%= groupID %>/edit/update/group" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control col-lg-7 hidden" name="groupID"
                                               value="<%= groupID %>">
                                        <label for="group_name col-lg-2">Name:</label>
                                        <input type="text" class="form-control col-lg-7" id="group_name"
                                               name="group_name" value="<%= groupName %>">
                                    </div>
                                    <br><br>
                                    <button type="submit" class="btn btn-primary-outline"><i class="fa fa-wrench"></i>
                                        Apply Changes
                                    </button>
                                    <button type="button" class="btn btn-default" onClick="location.reload(true);">
                                        Cancel
                                    </button>
                                </form>
                                <br>
                            </div>

                            <% if(access.GROUP_SESSIONS){%>
                            <!-- Sessions Tab -->
                            <div class="tab-pane fade in" id="tabSessions">
                                <table class="table table-striped table-hover table-radio">
                                    <thead>
                                    <tr class="active">
                                        <th class="col-lg-1 hidden">Select</th>
                                        <th class="col-lg-1">Session Title</th>
                                        <th class="col-lg-1">type</th>
                                        <th class="col-lg-1">Start date</th>
                                        <th class="col-lg-1">End Date</th>
                                        <th class="col-lg-1">Create by</th>
                                        <th class="col-lg-1">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% if(groupInfo.sessions.length == 0){ %>
                                    <tr class="warning">
                                        <td class="hidden"></td>
                                        <td>No sessions have been added to this group</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <% }
                                    for(var i = 0; i < groupInfo.sessions; i++){
                                    %>
                                    <tr>
                                        <td class="hidden"><input name="user" class="selectedSession" type="radio"
                                                                  value="<%= group.sessions[i]["SESSIONID"] %>"></td>
                                        <td><%= group.sessions[i]["SESSION_DESC"] %></td>
                                        <td><%= group.sessions[i]["SESSION_TYPE"] %></td>
                                        <td><%= group.sessions[i]["START_TIME"] %></td>
                                        <td><%= group.sessions[i]["END_TIME"] %></td>
                                        <td><%= group.sessions[i]["CREATEDBY"] %></td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="action_btn btn btn-primary btn-sm dropdown-toggle invisible"
                                                        data-toggle="dropdown"><span class="fa fa-cog"></span></button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li><a href="#" class="edit-session" data-toggle="modal"
                                                           data-target="#update-session-modal"><span
                                                                    class="fa fa-cog "></span>
                                                            edit</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a href="#" class="remove-session" data-toggle="modal"
                                                           data-target="#remove-session-modal"><span
                                                                    class="fa fa-trash-o "></span>
                                                            Remove session</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>

                                <!-- Add new Session -->
                                <a href="#" class="add-session btn btn-primary-outline" data-toggle="modal"
                                   data-target="#session-modal"><span
                                            class="fa fa-plus-square"></span> Add new session
                                </a>
                            </div>  <% } %>

                            <% if(access.GROUP_MEMBERS){%>
                            <!-- Members Tab -->
                            <div class="tab-pane fade" id="tabUsers">
                                <table class="table table-striped table-hover table-radio">
                                    <thead>
                                    <tr class="active">
                                        <th class="col-lg-1 hidden">Select</th>
                                        <th class="col-lg-3">Name</th>
                                        <th class="col-lg-3">Position</th>
                                        <th class="col-lg-1">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% if(groupInfo.users.length == 0){ %>
                                    <tr class="warning">
                                        <td class="hidden"></td>
                                        <td>Hello! Please invite members and they will be displayed here</td>
                                        <td></td>
                                        <td>
                                            <a href="#" class="add_user btn btn-sm invisible"><span
                                                        class="fa fa-plus-square"></span> Invite New Members
                                            </a>
                                        </td>
                                    </tr>
                                    <% }
                                    for(var i = 0; i < groupInfo.users.length; i++){
                                    %>
                                    <tr>
                                        <td class="hidden"><input name="user" class="selectedUser" type="radio"
                                                                  value="<%= groupInfo.users[i]["USERID"] %>"></td>
                                        <td><%= groupInfo.users[i]["NAME_LAST"] + ", " + groupInfo.users[i]["NAME_FIRST"] %></td>
                                        <td><%= groupInfo.users[i]["ROLE_NAME"] %></td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="action_btn btn btn-primary btn-sm dropdown-toggle invisible"
                                                        data-toggle="dropdown"><span class="fa fa-cog"></span></button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li><a href="#" class="edit-user" data-toggle="modal"
                                                           data-target="#update-user-modal"><span
                                                                    class="fa fa-cog "></span>
                                                            edit</a>
                                                    </li>
                                                    <li><a href="/results"><span class="fa fa-pie-chart "></span> View
                                                            User's Results</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#" class="remove-user" data-toggle="modal"
                                                           data-target="#remove-user-modal"><span
                                                                    class="fa fa-trash-o "></span>
                                                            Remove user from group</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                                <br>
                                <!-- Invite User -->
                                <a href="#" class="add_user btn btn-primary-outline"><span
                                            class="fa fa-plus-square"></span> Add new user
                                </a>
                            </div>  <% } %>

                            <% if(access.GROUP_POSITIONS){%>
                            <!-- Positions Tab -->
                            <div class="tab-pane fade" id="tabPositions">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered table-radio">
                                        <thead>
                                        <tr class="active">
                                            <th class="col-lg-1 hidden">Select</th>
                                            <th class="col-lg-2">Position</th>
                                            <th class="col-lg-1">Group Editing (view Group edit page)</th>
                                            <th class="col-lg-1">Edit Sessions</th>
                                            <th class="col-lg-1">Edit Members</th>
                                            <th class="col-lg-1">Edit Positions</th>
                                            <th class="col-lg-1">View group results</th>
                                            <th class="col-lg-1">Give tests using SIPS app</th>
                                            <th class="col-lg-1">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% if(groupInfo.pos.length == 0){ %>
                                        <tr class="warning">
                                            <td class="hidden"></td>
                                            <td>Hello! Please add a position and they will be displayed here</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                            </td>
                                        </tr>
                                        <% }
                                        for(var i = 0; i < groupInfo.pos.length; i++){
                                        %>
                                        <tr>
                                            <td class="hidden"><input name="position" class="selectedPos" type="radio"
                                                                      value="<%= groupInfo.pos[i]["ROLE_NAME"] %>"></td>
                                            <td class="roleName"><%= groupInfo.pos[i]["ROLE_NAME"] %></td>
                                            <td class="groupEditing"><%= groupInfo.pos[i]["GROUP_EDITING"] == 1 ? "Yes" : "No" %></td>
                                            <td class="groupSessions"><%= groupInfo.pos[i]["GROUP_SESSIONS"] == 1 ? "Yes" : "No" %></td>
                                            <td class="groupMembers"><%= groupInfo.pos[i]["GROUP_MEMBERS"] == 1 ? "Yes" : "No" %></td>
                                            <td class="groupPos"><%= groupInfo.pos[i]["GROUP_POSITIONS"] == 1 ? "Yes" : "No" %></td>
                                            <td class="groupResults"><%= groupInfo.pos[i]["GROUP_RESULTS"] == 1 ? "Yes" : "No" %></td>
                                            <td class="groupTests"><%= groupInfo.pos[i]["GROUP_TEST"] == 1 ? "Yes" : "No" %></td>
                                            <td>
                                                <div class="btn-group <% if(i == groupInfo.pos.length - 1){ %> <%= "dropup" %> <% } %>">
                                                    <button type="button"
                                                            class="action_btn btn btn-primary btn-sm dropdown-toggle invisible"
                                                            data-toggle="dropdown"><span class="fa fa-cog"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li><a href="#" class="edit-pos" data-toggle="modal"
                                                               data-target="#add-position-modal"><span
                                                                        class="fa fa-cog "></span>
                                                                edit</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#" class="delete-position" data-toggle="modal"
                                                               data-target="#remove-position-modal"><span
                                                                        class="fa fa-trash-o "></span>
                                                                Delete Position</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <!-- Add new Position -->
                                <a href="#" class="add-position btn btn-primary-outline" data-toggle="modal"
                                   data-target="#add-position-modal"><span
                                            class="fa fa-plus-square"></span> Add new position
                                </a>
                            </div>  <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if(access.GROUP_SESSIONS){%>
<!-- New Session Modal-->
<div id="session-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Session</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                        <div class="col-lg-4">
                            <label for="start_date">Start date: </label>
                            <input type="text" id="start_date" name="start_date">
                                <br>
                            <label for="end_date">End date: </label>
                            <input type="text" id="end_date" name="end_date">

                            <br>
                            <label for="session_type">Type: </label>
                            <select name="session_type" id="session_type">
                                <option value="Seasonal">Seasonal</option>
                                <option value="Seasonal">Once</option>
                            </select>

                        </div>
                        <br>
                        <div class="col-lg-4">
                            <label for="session_desc">Description: </label>
                        <textarea rows="3" cols="40" name="session_desc" placeholder="Enter brief description..."></textarea>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="session-confirmed" class="btn btn-primary" data-dismiss="modal">Add
                </button>
            </div>
        </div>
    </div>
</div>  <% } %>

<% if(access.GROUP_MEMBERS){ %>
<!-- Add User popup dialog -->
<div id="add_user_box" title="Invite members to group">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info"
                                         style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <p>
            Include email addresses to send the invite message to. Once submitted the default mail client on your device
            will open a new message with the message specified below.
        </p>
        <br><br>
        <form role="form">
            <div class="form-group">
                <label for="email_to" class="pull-left">TO:</label>
                <input type="text" class="form-control" id="email_to" name="email_to"
                       placeholder="example@gmail.com; example2@gmail.com">
            </div>
            <div class="form-group">
                <label for="email_subject" class="pull-left">Subject:</label>
                <input type="text" class="form-control" id="email_subject" name="email_subject"
                       value="SIPS Group Invitation">
            </div>
            <div class="form-group">
                <label for="email_body">Message body:</label>
                <p class="well">Hello, this is an invitation to join <%= groupName %> on SIPS. Please enter this code
                    after logging in with the Gmail account you want to use: <%= inviteCode %></p>
                <textarea type="text" class="form-control" id="email_body" name="email_body" rows="5"></textarea>
            </div>

        </form>
        <br>
    </div>
</div>

<!-- User Modal -->
<div id="remove-user-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove member confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the member from the group?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No - Cancel</button>
                <button type="button" id="remove-user-confirmed" class="btn btn-danger" data-dismiss="modal">Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- User Update Modal -->
<div id="update-user-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change member position</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user-pos">Position: </label>
                        <select name="user-pos" id="update-user-pos">
                            <% for(var i = 0; i < groupInfo.pos.length; i++){ %>
                            <option value="<%= groupInfo.pos[i]["ROLE_NAME"] %>"><%= groupInfo.pos[i]["ROLE_NAME"] %></option>
                            <% } %>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No - Cancel</button>
                <button type="button" id="update-user-confirmed" class="btn btn-primary" data-dismiss="modal">Update
                </button>
            </div>
        </div>
    </div>
</div> <% } %>

<% if(access.GROUP_POSITIONS){%>
<!-- Position Removal Modal -->
<div id="remove-position-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove position confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this position from the group?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No - Cancel</button>
                <button type="button" id="remove-position-confirmed" class="btn btn-danger" data-dismiss="modal">Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Position Add/Update Modal -->
<div id="add-position-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Group Position</h4>
            </div>
            <div class="modal-body">
                <p>Fill out form below</p>

                <form id="new_position_form">
                    <div class="form-group">
                        <label for="new-pos-name">Position Name</label>
                        <input class="form-control" id="new-pos-name" placeholder="" name="positionTitle">
                    </div>

                    <br>
                    <label class="control-label">Group Permissions</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="groupEdit" value="1"> Access to group edit page <p
                                    class="text-warning pull-right">
                                (This enables/disables the following group permissions)</p>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="groupSessions" value="1"> Able to view/use Sessions tab
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="groupMembers" value="1"> Able to view/use Members tab
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="groupPositions" value="1"> Able to view/use Positions tab
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="groupResults" value="1"> Able to view results of group members
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="groupTests" value="1"> Able to Administer tests via the SIPS
                            app
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="add-position-confirmed" class="btn btn-primary" data-dismiss="modal">Add
                </button>
            </div>
        </div>
    </div>
</div> <% } %>

<%- include ../partials/default_footer.ejs %>

<script>
    $(document).ready(function () {
        //Init sidebar menu
        $(function () {
            $('#sideMenu').metisMenu();
        });

        //initialize Datepickers for sessions
        $(function () {
            $("#start_date").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                onClose: function (selectedDate) {
                    $("#start_date").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#end_date").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                onClose: function (selectedDate) {
                    $("#end_date").datepicker("option", "maxDate", selectedDate);
                }
            });
        });
        //Initialize Add User email dialog
        $("#add_user_box").dialog({
            autoOpen: false,
            modal: true,
            draggable: false,
            resizable: false,
            position: {my: "top", at: "bottom", of: '.navbar-fixed-top'},
            show: 'blind',
            hide: 'blind',
            width: 'auto',
            height: 'auto',
            dialogClass: 'ui-dialog',
            buttons: {
                "Open mail client": function () {
                    $(this).dialog("close");

                    var email = $('#email_to').val();
                    var subject = $('#email_subject').val();
                    var emailBody = 'Hello, this is an invitation to join <%= groupName %> on SIPS. Please enter this code after logging in with the Gmail account you want to use: <%= inviteCode %> . %0D%0A' + $('#email_body').val();
                    window.location = 'mailto:' + email + '?subject=' + subject + '&body=' + emailBody;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        //Show/Hide action button on hover
        $('.table-radio tr').hover(
                function () {
                    $(this).find('td .btn').removeClass("invisible");
                },
                function () {
                    $(this).find('td .btn').addClass("invisible");
                }
        );


        //Checks group on the same row as the action button being clicked
        $('.action_btn').click(function (e) {
            e.preventDefault();
            //$(this).find('td input[type=radio]').prop('checked', true);
            $(this).closest('tr').find('td:eq(0) input[type=radio]').prop('checked', true);
        });


        //Open Update user modal and set the select form field to the user's current position
        $(".edit-user").click(function (e) {
            var activePos = $(this).closest('tr').find('td:eq(2)').text().trim();
            $('#update-user-pos').val(activePos);
        })


        //Send Update User post request with needed data
        $('#update-user-confirmed').click(function (e) {
            var data = {};
            data.position = $('#update-user-pos').val();
            data.userid = $('input[name=user]:checked').val();
            data.groupID = '<%= groupID %>';
            ajaxGroupEdit('update', 'user', JSON.stringify(data, null, 2));
        })


        //Open add user dialog
        $(".add_user").click(function (e) {
            e.preventDefault();
            $('#add_user_box').dialog('open');
        })


        //Reset modal for adding position
        $(".add-position").click(function (e) {
            $('#add-position-modal .modal-title').text("Add New Position");
            $('#add-position-confirmed').text('Add');
            $('#new-pos-name').val("");
            $("#new_position_form")[0].reset();
        })


        //Switch model for updating position
        $(".edit-pos").click(function (e) {
            var selectedPos = $('input[name=position]:checked').closest('tr');
            var title = selectedPos.find('td:eq(1)').text();

            $('#add-position-modal .modal-title').text("Edit: " + title);

            $('#new-pos-name').val(title);
            $('input[name=groupEdit]').prop('checked', selectedPos.find('td:eq(2)').text() == 'Yes');
            $('input[name=groupSessions]').prop('checked', selectedPos.find('td:eq(3)').text() == 'Yes');
            $('input[name=groupMembers]').prop('checked', selectedPos.find('td:eq(4)').text() == 'Yes');
            $('input[name=groupPositions]').prop('checked', selectedPos.find('td:eq(5)').text() == 'Yes');
            $('input[name=groupResults]').prop('checked', selectedPos.find('td:eq(6)').text() == 'Yes');
            $('input[name=groupTests]').prop('checked', selectedPos.find('td:eq(7)').text() == 'Yes');

            $('#add-position-confirmed').text('Update');
        });


        //Send post to add/update position
        $('#add-position-confirmed').click(function (e) {
            e.preventDefault();
            // var form = $('#new_position_form').find(":input");
            var form = $("#new_position_form").serializeArray();
            var obj = {'orgID': '<%= orgID %>'};
            for (var i = 0; i < form.length; i++) {
                var key = form[i].name;
                // var value = form[i].value == 'on'? 1 : 0;
                obj[key] = form[i].value;
            }
            var action = $('#add-position-confirmed').text().toLowerCase().trim();
            ajaxGroupEdit(action, 'position', JSON.stringify(obj, null, 2));
        });


        //Post after confirmation to remove user
        $('#remove-user-confirmed').click(function (e) {
            e.preventDefault();
            var selectedUser = $('input[name=user]:checked').val();

            ajaxGroupEdit('remove', 'user', selectedUser);
        });


        //Post after confirmation to remove position
        $('#remove-position-confirmed').click(function (e) {
            e.preventDefault();
            var selectedPos = $('input[name=position]:checked').val();

            ajaxGroupEdit('remove', 'position', selectedPos);
        });


        //Sends ajax post request to server
        function ajaxGroupEdit(action, type, data) {
            $.ajax({
                type: 'POST',
                url: '/group/<%= groupID %>/edit/' + action + '/' + type,
                data: {groupID: '<%= groupID %>', data},
                complete: function (data) {
                    location.reload(true);
                }
            })
        }
    });
</script>

</body>
</html>
