<div class="col-lg-9">
    <div class="group-panel panel panel-primary">
        <ul class="nav nav-tabs pull-right">
            <% if(Object.keys(admin).length > 0){%>
            <li class="active"><a href="#tabOrg" data-toggle="tab">Organizations</a></li>
            <% } %>
            <li <%if(Object.keys(admin).length == 0){%> class="active" <% } %>><a href="#tabGroup" data-toggle="tab">Groups</a></li>
        </ul>

        <div class="panel-body">
            <div class="tab-content">
            <% //Show list of groups if user is in any
            if(groups.length <= 0 && admin.length <= 0){ %>
            <p class="text-danger">Seems you haven't been invited to a group yet.</p>
            <% } %>

                <% if(admin.length > 0){ %>
                <!-- Organization Tab -->
                <div class="tab-pane fade in active" id="tabOrg">
                    <h2 class="h4">Organization Admin membership</h2>
                    <% //Admin access
                    for(var i = 0; i < admin.length; i++){ %>
                    <div class="well">
                        <div class="row" style="padding-bottom: 15px;">
                            <h3 class="h4 col-lg-10 col-md-10 col-xs-8"><%= admin[i]['ORG_NAME'] %></h3>
                            <div class="col-lg-2 col-xs-2">
                                <a href="/admin/<%= admin[i]['ORGANIZATIONID'] %>" class="btn btn-danger">Admin</a>
                            </div>
                        </div>
                        <p class="h6"><i>Groups</i>:</p>

                        <ul class="list-group">
                            <% for(var t = 0; t < Object.keys(admin[i]['GROUPS']).length; t++){
                            if(t > 10){//break after showing 10 groups
                                break;
                            }%>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="list-group-item-heading col-lg-10 col-xs-10"><%= admin[i]['GROUPS'][t]['GROUP_NAME'] %></div>
                                    <div class="col-lg-2 col-xs-2">
                                        <div class="list-group-item-text"><a
                                                    href="/group/<%= admin[i]['GROUPS'][t]['GROUPID'] %>/edit">
                                                <button class="btn btn-primary btn-xs">edit</button>
                                            </a></div>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                </div>
                <% } %>
                <% if(groups.length > 0){ %>

                <!-- Group Tab -->
                <div class="tab-pane fade in" id="tabGroup" <%if(Object.keys(admin).length == 0){%> style="display:initial;" <% } %>>
                    <h2 class="h4">Group Memberships</h2>
                    <ul class="list-group">
                        <% //Regular Group access
                        for(var i = 0; i < groups.length; i++){ %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="list-group-item-heading col-lg-10 col-xs-10"><%= groups[i]['GROUP_NAME'] %></div>
                                <% if(groups[i]["GROUP_EDITING"] == 1){ %>
                                <div class="col-xs-2">
                                    <div class="list-group-item-text"><a href="/group/<%= groups[i]["GROUPID"] %>/edit">
                                            <button class="btn btn-primary btn-xs">edit</button>
                                        </a></div>
                                </div>
                            </div>
                        </li>
                        <% }} %>
                    </ul>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>