<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<%- include partials/default_navbar.ejs %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<%- include partials/default_footer.ejs %>
</body>
</html>
