<!DOCTYPE html>
<html>
<%- include partials/default_header.ejs %>
<body>
<%- include partials/default_navbar.ejs %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<%- include partials/default_footer.ejs %>
</body>
</html>
