<!DOCTYPE html>
<html>
<%- include partials/default_header.ejs %>
<body>

<%- include partials/default_navbar.ejs %>

<!-- Page Content -->
<div class=" container-fluid">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-body">
                <h1><%= title %></h1>
                <p><%= 'Welcome, ' + name %></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Quick Links</div>

                <div class="panel-body">
                    <div class="btn-group-vertical" role="group" aria-label="Justified button group"
                         style="display:block;">
                        <a href="/results" class="btn btn-primary btn-block" role="button"
                           style="text-align:left; padding-left:6px">Results</a>
                        <a href="/forms/sport-fitness-injury" class="btn btn-primary btn-block" role="button"
                           style="text-align:left; padding-left:6px">Sports Fitness Index & Injury
                            form</a>
                    </div>
                </div>
            </div>
        </div>

        <%- include partials/code_entry.ejs %>

    </div>


</div>



<%- include partials/default_footer.ejs %>


<!--suppress JSJQueryEfficiency -->
<script>
    $( document ).ready(function() {
        $(".code_btn").click(function () {

            $(".code-panel").removeClass("panel-success panel-danger").addClass("panel-default");
            $("#code-msg").remove();
            $.ajax({
                url: '/code-submit',
                type: 'POST',
                data: $('#code_form').serialize(),
                success: function (data) {
                    $('#code_form')[0].reset();
                    $('.code-panel').removeClass("panel-default").addClass("panel-success");
                    $('.code-panel .panel-body').append('<p id=\'code-msg\'>Operation succesfull</p>');

                },
                error: function (data) {
                    $('#code_form')[0].reset();
                    $('.code-panel').removeClass("panel-default").addClass("panel-danger");
                    $('.code-panel .panel-body').append("<p id='code-msg'>Uh oh, must have been a bad code</p>");

                },
                complete: function () {
                }
            });

        });
    });

</script>
</body>
</html>
