<!DOCTYPE html>
<html>
<%- include partials/default_header.ejs %>
<body>

<%- include partials/default_navbar.ejs %>

<!-- Page Content -->
<div class=" container-fluid">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-body">
                <h1><%= title %></h1>
                <p><%= 'Welcome, ' + name %></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Quick Links</div>

                <div class="panel-body">
                    <div class="btn-group-vertical" role="group" aria-label="Justified button group"
                         style="display:block;">
                        <a href="/results" class="btn btn-default btn-block" role="button"
                           style="text-align:left; padding-left:6px">Results</a>
                        <a href="/forms/sport-fitness-injury" class="btn btn-default btn-block" role="button"
                           style="text-align:left; padding-left:6px">Sports Fitness Index/Injury
                            form</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 pull-right">
        <%- include partials/code_entry.ejs %>

            <%//Show list of groups if user is in any
            if(groups.length > 0 && admin.length > 0){%>
        <%- include partials/user_groups.ejs %>
            <%}%>
        </div>

    </div>


</div>


<%- include partials/default_footer.ejs %>

<!-- COde Entry Block JavaScript -->
<script src="/js/partials/code-entry.js"></script>

</body>
</html>
