<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel='stylesheet' href='/stylesheets/forms.css'/>

    <!-- Latest compiled and minified CSS
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
<%
questionLabels = [];
questionLabels.push("Over the past several years, how often have moderate-to-severe muscle and/or joint injuries limited your ability to participate fully in sports-related activities?");
questionLabels.push("Over the past several years, how often has PAIN in any body part limited your OVERALL sport performance capabilities?");
questionLabels.push("To what extent do you feel that previous muscle and/or joint injuries currently limit your speed, power output, and/or endurance?");
questionLabels.push("To what extent is your OVERALL ability to perform weightlifting exercises and/or activities that require explosive force output (such as maximum-effort jumping) currently limited by PAIN?");
questionLabels.push("To what extent is your ability to perform any SPORT-SPECIFIC SKILL (such as throwing, swinging, or kicking accuracy) currently limited by PAIN?");
questionLabels.push("To what extent are you bothered by muscle spasms, stiffness, and/or aching discomfort during routine activities of daily living (such as sleeping, walking, climbing/descending stairs, etc.)?");
questionLabels.push("How often do you experience sensations of joint instability, giving-way, and/or sudden pain that create apprehension during rapid and forceful movements (such as pivoting and cutting)?");
questionLabels.push("As a result of participating in sport-related activities, how often do you experience joint aching, limited motion, stiffness, and/or swelling?");
questionLabels.push("To what extent are you bothered by chronic joint symptoms like joint locking, catching, grinding, or persistent aching?");
questionLabels.push("Over the past 12 months, to what extent have personal life events created emotional responses (such as sadness, depression, and/or anxiety) that have interfered with your enjoyment of life, ability to concentrate, and/or fulfillment of routine daily responsibilities?");
questionLabels.push("To what extent have you ever experienced headaches, vision problems, loss of balance, and/or difficulty concentrating as a result of concussion or repeated head impacts?");

postTarget = "http://utc-vat.mybluemix.net/forms/submission-complete";
versionText = " over the past 12 months?/during the past season?";
%>
<% radioText1 = ["Never", "Rare", "Infrequent", "Occasional", "Frequent", "Persistent"]; %>
<% radioText2 = ["Not at all", "Insignificant", "Marginal", "Moderate", "Substantial", "Severe"]; %>
<% questionNum = 1; %>

<form action="<%=postTarget%>" method="post" id="slider">
    <div class="form_description">
        <h2><%= title %></h2>

        <div id="progress-container">
            <p id="part_indicator">Part 1: Sports Fitness Index</p>
        </div>

        <ul id='page' class="progress_counter"></ul>
    </div>
    <div class="form-group">

        <!-- Question 1 -->
        <article id="apage_1" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[0] %></label>

            <div class="">

                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText1[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>


        <!-- Question 2 -->
        <article id="apage_2" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[1] %></label>

            <div class="">

                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText1[i] %>
                </label>
                <% } %>
                <% questionNum++; %>

            </div>
        </article>

        <!-- Question 3 -->
        <article id="apage_3" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[2] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText2[i] %>
                </label>
                <% } %>
                <% questionNum++; %>

            </div>
        </article>

        <!-- Question 4 -->

        <article id="apage_4" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[3] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText2[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 5 -->
        <article id="apage_5" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[4] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText2[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 6 -->
        <article id="apage_6" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[5] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText2[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 7 -->
        <article id="apage_7" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[6] %></label>

            <div class="">

                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText1[i] %>
                </label>
                <% } %>
                <% questionNum++; %>

            </div>
        </article>

        <!-- Question 8 -->
        <article id="apage_8" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[7] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText1[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 9 -->
        <article id="apage_9" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[8] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText2[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 10 -->
        <article id="apage_10" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[9] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText1[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 11 -->
        <article id="apage_11" class="part1">
            <label class=" control-label" for="q<%= questionNum %>"><%= questionLabels[10] %></label>

            <div class="">
                <% for(var i = 0; i < radioText1.length; i++) { %>
                <label class="radio-inline" for="q<%= questionNum + "-" + i %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum + "-" + i %>" value="<%= i %>" type="radio">
                    <%= radioText2[i] %>
                </label>
                <% } %>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 12 -->
        <article id="apage_12" class="part2">
            <label class=" control-label" for="q<%= questionNum %>">Did you experience a
                concussion <%= versionText %></label>

            <div class="">
                <label class="radio-inline" for="q<%= questionNum + "-" + 1 %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum %>-1" value="1" type="radio">
                    Yes
                </label>
                <label class="radio-inline" for="q<%= questionNum + "-" + 2 %>">
                    <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum %>-2" value="0" type="radio">
                    No
                </label>
                <% questionNum++; %>
            </div>
        </article>

        <!-- Question 13 -->
        <article id="apage_13" class="part2">
            <label class=" control-label" for="q<%= questionNum %>">Did you sustain a musculoskeletal
                injury <%= versionText %></label>
            <div class="">
            <label class="radio-inline" for="q<%= questionNum + "-" + 1 %>">
                <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum %>-1" value="1" type="radio" onclick="switchbtn(this)">
                Yes
            </label>
            <label class="radio-inline" for="q<%= questionNum + "-" + 2 %>">
                <input name="arr[<%= questionNum %>]" class="required" id="q<%= questionNum %>-2" value="0" type="radio"  onclick="switchbtn(this)">
                No
            </label>
                </div>
            <input name="arr[null]" class=""  value="0" type="radio"  style="display:none" checked>
            <% questionNum++; %>
            <input class="button_text submit" type="submit" name="submit" value="Submit" style="display:none;" />
        </article>


    </div>

    <input type="hidden" name="form_id" value="1079903"/>


</form>


<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>
<script src="/javascripts/Forms.js"></script>

</body>
</html>
